# Node modules
**/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
**/.env

# Build directories
frontend/.nuxt
frontend/.output
backend/dist

# OS files
.DS_Store

# Docker
docker-compose.override.yml
